RESINLOGIC_ENFORCE_AUTH=1
RESINLOGIC_ADMIN_API_KEY=replace-admin-key
RESINLOGIC_OPERATOR_API_KEY=replace-operator-key
RESINLOGIC_VIEWER_API_KEY=replace-viewer-key
RESINLOGIC_ENABLE_DEFAULT_KEYS=0
RESINLOGIC_ENABLE_SCHEDULER=1
RESINLOGIC_SCHEDULER_POLL_SECONDS=5
